.splash-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: $darkBackground;
}

.splash-logo {
  height: 187px;
  width: auto;
  display: block;
  margin: 0 auto;
}
