/* Change colors in this file to style to your needs on a global level. 
Certain colors are used for different and multiply types of elements. 
For greater control over colors visit each components .scss file. */

// button colors
$buttonColor: #55198b;
$buttonHover: #8c43ce;

// text color dark theme
$textColorDark: #ffffff;
$subTitle: #b0b0b0;

// githubRepo specific colors
$githubRepoCardLanguageColorBG: #0000ff;
$githubRepoCardColor: rgb(88, 96, 105);
$githubRepoCardRepoCardStatsColor: rgb(106, 115, 125);
$githubRepoCardRepoNameColor: rgb(36, 41, 46);

// dark background colors
$darkBackground: #000;

// dark theme box shadows
$darkBoxShadow: #d9dbdf;
$darkBoxShadow2: #ffffff;

$educationCardBorder: #a9a7f9;

// hovers
$iconBackground: #333;
