@import "../../_globalColor";

.small-dark {
  color: $textColorDark !important;
}

.blog-container {
  border-radius: 10px;
  color: $blogCardContainerColor;
  background: #000 !important;
  box-shadow: 0 0 36px $lightBoxShadow;
  cursor: pointer;
  height: 200px;
}

.blog-title {
  color: $blogCardTitleColor;
  font-size: 1.375rem;
  line-height: 24px;
  font-weight: 700;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 14px;
  margin-top: 32px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.small {
  font-size: 1.063rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: $cardSubtitle;
  padding: 0px 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  margin: 0px;
}

.blog-card {
  display: block;
  position: relative;
  background: #000 !important;
  border-radius: 21px;
  border: 1.2px solid #fff; // White border
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  height: 100%;
  box-shadow: $lightBoxShadowDark 0px 10px 30px -15px;
  transition: box-shadow 0.3s, background 0.3s, color 0.3s;
  color: #fff !important;
}

.blog-card:hover {
  background-color: #fff !important; // White on hover
  color: #111 !important; // All text black on hover
  box-shadow: 0 0 24px 4px #fff, $lightBoxShadowDark 0px 20px 30px -10px;
}

.blog-card:hover .blog-title,
.blog-card:hover .small {
  color: #111 !important; // All text black on hover
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: #fff;
  border-radius: 0 4px 0 32px;
  transition: background 0.22s, color 0.22s;
  z-index: 2;
}

.blog-card:hover .go-corner {
  background: #111;
}

.go-arrow {
  color: #111;
  font-family: courier, sans;
  transition: color 0.22s;
}

.blog-card:hover .go-arrow {
  color: #fff;
}

@media screen and (max-width: 480px) and (min-width: 300px),
(min-width: 925px) and (max-width: 1024px),
(min-width: 1405px) and (max-width: 1550px) {
  .blog-card:hover::before {
    transform: scale(30);
  }
}

@media screen and (min-width: 481px) and (max-width: 675px),
(min-width: 1025px) and (max-width: 1404px),
(min-width: 1551px) {
  .blog-card:hover::before {
    transform: scale(40);
  }

  .blog-card::before {
    transition: transform 0.45s ease-out;
  }
}

@media screen and (min-width: 675px) and (max-width: 860px) {
  .blog-card:hover::before {
    transform: scale(50);
  }

  .blog-card::before {
    transition: transform 0.5s ease-out;
  }
}

@media screen and (min-width: 860px) and (max-width: 924px) {
  .blog-card:hover::before {
    transform: scale(60);
  }

  .blog-card::before {
    transition: transform 0.5s ease-out;
  }
}

@media screen and (max-width: 480px) and (min-width: 300px) {
  .blog-title {
    font-size: 1.125rem;
  }
}

.blog-card-shadow {
  box-shadow: 1px 0px 20px $darkBoxShadow2;
}